<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ana Style</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
  
    <header class="header">
      <h2 class="logo">Ana Style</h2>
        <nav class="navegacion">
            <a href="">Inicio</a>
            <a href="">Blog</a>
            <a href="">Ofertas</a>
            <a href="">Catalogo</a>
            <a href="{% url 'login' %}">Contacto</a>
            <a href="{% url 'login' %}">Inicio de session</a>
        </nav>
    </header>
  
</body>
</html>